* {
  box-sizing: border-box;
  font-family: "Cinzel", serif;
}

:root {
  --first-color: #373f51;
  --second-color: #d8dbe2;
  --third-color: #58a4b0;
  --fourth-color: #1b1b1e;
  --fifth-color: #a9bcd0;
  --sixth-color: #2d2d31;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--first-color);
  height: 10vh;
}

.header-text {
  font-family: "Cinzel", serif;
  font-size: 2.5rem;
  color: var(--second-color);
}

.nav {
  background-color: var(--fifth-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 15vh;
  position: sticky;
}

.nav-header {
  font-family: "Rajdhani", sans-serif;
  font-size: 2rem;
  color: var(--first-color);
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.add-task {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.8rem;
  border-radius: 5px;
  outline: none;
  border: none;
}

.add {
  font-size: 1.8rem;
  border: none;
  background-color: #264653;
  color: var(--second-color);
  border-radius: 5px;
  margin-left: 5px;
}

.add:hover {
  cursor: pointer;
  background-color: var(--first-color);
}

.main {
  background-color: var(--fifth-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 70vh;
  color: var(--first-color);
}

.main-header {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: "Rajdhani", sans-serif;
  color: var(--second-color);
  background-color: #264653;
  width: 28vw;
}

li {
  line-height: 3em;
  border-bottom: 1px #264653 solid;
  height: 200%;
  width: 90%;
}

.li {
  font-family: "Rajdhani", sans-serif;
  color: var(--second-color);
  font-size: 1.7rem;
  color: white;
  list-style: none;
}

.icons1 {
  width: 20%;
  float: right;
}

.icons2 {
  width: 15%;
  float: right;
}

.icons3 {
  width: 8%;
  float: right;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28vw;
  min-height: 64vh;
  background-color: var(--first-color);
  margin-bottom: 50px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.to-do {
  background-color: #f4a261;
}

.in-progress {
  background-color: #e9c46a;
}

.done {
  background-color: #2a9d8f;
}

.deleteBtn,
.in-progress-btn,
.done-btn {
  margin-left: 5px;
}

.deleteBtn:hover,
.in-progress-btn:hover,
.done-btn:hover {
  cursor: pointer;
}

.list-todo,
.list-inprogress,
.list-done {
  width: 28vw;
  word-wrap: break-word;
  color: #264653;
}

.task-done {
  text-decoration: line-through;
  font-style: italic;
  color: rgb(218, 216, 216);
}

img {
  width: 1.2rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--first-color);
  color: var(--fifth-color);
  height: 5vh;
}

.input-animation {
  color: rgb(255, 0, 0);
  animation: inputAnimation 0.6s;
}

@keyframes inputAnimation {
  0% {
    margin-left: 5px;
  }
  20% {
    margin-left: -5px;
  }
  40% {
    margin-left: 5px;
  }
  60% {
    margin-left: -5px;
  }
  80% {
    margin-left: 5px;
  }
  100% {
    margin-left: 0;
  }
}
